# root level
Thumbs.db
.DS_Store
*.sublime-project
*.sublime-workspace
*.sass-cache
*.settings
.codekit-cache

# standard stuff
add-code.shtml
assets/css/*
assets/src/.sass-cache
assets/src/_code-to-dos.scss
