/**
 * Header - Nav: Global
 */

nav {
  font-family: $nav-global-font;
  font-weight: $nav-global-font-weight;
  font-size: $nav-global-font-size;
  line-height: $nav-global-line-height;
  display: block;
}
