/**
 * Base - Page
 */
 
html {
  -webkit-font-smoothing: subpixel-antialiased !important;
}

html,
body { 
  height: 100%; 
}

body {
  margin: 0 auto; 
  background-color: $page-background;
}

a, 
a img, 
input, 
textarea,
button {
  @include trans($global-trans-property, $global-trans-duration, $global-trans-timing-function, $global-trans-delay);
}

hr {
  margin-top: $hr-margin-top;
  margin-bottom: $hr-margin-bottom;
  border: $hr-border;
  border-bottom: $hr-border-bottom;
}
