/* Base - Type
======================================== */

html {
  font-size: $base-font-size-lg;
}

body {
  font-family: $base-font-family;
  line-height: $base-line-height;
  color: $base-text-color;
  font-size: 100%;
}

p {
  margin: $p-margin;
  padding: $p-padding;
}

dl, ol, ul {
  margin: $list-margin;
}

// $base-line-height: 1.5

h1, .h1 { font-size: $h1; line-height: 1.2; }
h2, .h2 { font-size: $h2; line-height: 1.3; }
h3, .h3 { font-size: $h3; line-height: 1.4; }
h4, .h4 { font-size: $h4; line-height: $base-line-height; }
h5, .h5 { font-size: $h5; line-height: $base-line-height; }
h6, .h6 { font-size: $h6; line-height: $base-line-height; }

h1,h2,h3,h4,h5,h6 {
  font-family: $heading-font-family;
  margin: $heading-margin;
  padding: $heading-padding;
  color: $heading-color;
  text-rendering: optimizelegibility;
}

h1,h2,h3 {
  font-weight: bold;
  font-weight: $heading-font-weight;
}

h4,h5,h6 {
  font-weight: normal;
  font-weight: $heading-lighter-font-weight;
}

h6 {
  text-transform: $h-transform;
}

blockquote {
  margin: $blockquote-margin;
  padding: $blockquote-padding;
  color: $blockquote-color;
  border-left: $blockquote-border-left;
}
  blockquote,
  blockquote p {
    font-size: $h4;
    font-style: italic;
  }

// definition list
dl {
  dt {
    font-weight: $dt-font-weight;
    margin: $dt-margin;
    padding: $dt-padding;
  }
  dd {
    margin: $dd-margin;
    padding: $dd-padding;
  }
}

// pre/code stuff
pre, code, samp {
  font-family: $mono-font;
  font-size: inherit;
}
pre {
  margin-top: 0;
  margin-bottom: $pre-margin-bottom;
  overflow-x: scroll;
}

// horizontal rule
hr {
  margin-top: $hr-margin-top;
  margin-bottom: $hr-margin-bottom;
  border: $hr-border;
  border-bottom: $hr-border-bottom;
}

strong { 
  font-weight: bold; 
  font-weight: 700;
}

.antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
}

// for labels in the starter kit
.sk-label { color: red; }

.bold { font-weight: bold; }
.regular { font-weight: normal; }
.italic { font-style: italic; }
.caps { text-transform: uppercase; }
.left { text-align: left; }
.center { text-align: center; }
.right { text-align: right; }
.justify { text-align: justify; }

.list-reset {
  list-style-type: none;
  list-style: none;
  margin: 0 !important;
  padding: 0 !important;
}
