// ---------------------- Utility Nav

// the nav element
.navutility {  
	text-transform: none;
	// these top/bottom borders give the entire element uniform top/bottom space
	border-top: 5px solid $navutility-holder-bg;
	border-bottom: 5px solid $navutility-holder-bg; 
}

// display settings for the utility nav contents
// (the ul's)
.navutility__links,
.navutility__social,
.navutility__search {
	display: inline-block;
	vertical-align: middle;
}

// ----------- links

// the ul for the links
.navutility__links {}

.navutility__links li {
	display: inline-block; // make sure to comment out the whitespace in the list items

	&:first-of-type {
		margin-left: $navutility-global-pading;
	}

}
.navutility__links a {
	display: block; 
	background-color: $navutility-bg; 
	color: $navutility-color; 
	padding: $navutility-global-pading; 
	text-decoration: none; 
	white-space: nowrap; 
	text-transform: $navutility-text-transform;
	// comment these out if using global settings
	// font-size: $var;
	// line-height: $var;
	font-weight: $navutility-font-weight;

	&:active,
	&:focus,
	&:hover {
		color: $navutility-hover; 
		background-color: $navutility-bg-hover; 
	}

}

// ----------- social icons

.navutility__social {}
.navutility__social li {
	display: inline-block;
	margin: $navutility-global-margin;
}
.navutility__social a {
	display: block; // this forces the a tag to respect the padding after the inline-block li setting
	font-size: $navutility-global-font-size;
	line-height: $nav-global-line-height;
	padding: $navutility-global-pading;
	color: $navutility-color;

	&:active,
	&:focus,
	&:hover {
		color: $navutility-hover; 
		background-color: $navutility-bg-hover; 
	}

}
