// ----------- Nav-Global

nav {
  font-family: $nav-global-font;
  font-weight: $nav-global-font-weight;
}
.navutility { 
  font-size: $navutility-global-font-size;
  line-height: $nav-global-line-height;
}
.navmain {
  font-size: $navmain-global-font-size;
  line-height: $nav-global-line-height;
}

.navutility, 
.navmain { 
  display: block;
}

/*
.navutility ul,
.navutility div {
  //float: $navutility-float;
}
.navmain ul,
.navmain div {
  //float: $navmain-float;
}
*/
