// ----------- Trumps 


// ----------- Helper classes

// Text align

.text--left {
	text-align: left!important;
}
.text--center {
	text-align: center!important;
}
.text--right {
	text-align: right!important;
}

// Font weight 

.weight--light {
	font-weight: 300!important;
}
.weight--normal {
	font-weight: 400!important;
}
.weight--semibold {
	font-weight: 600!important;
}

// Floats

.pull--right {
	float: right!important;
}
.pull--left {
	float: left!important;
}
.pull--none {
	float: none!important;
}

// Push (margin)

.push {
	margin: $base-spacing!important;
}
.push--top {
	margin-top: $base-spacing!important;
}
.push--right {
	margin-right: $base-spacing!important;
}
.push--bottom {
	margin-bottom: $base-spacing!important;
}
.push--left {
	margin-left: $base-spacing!important;
}

.push-half {
	margin: $base-spacing/2!important;
}
.push-half--top {
	margin-top: $base-spacing/2!important;
}
.push-half--right {
	margin-right: $base-spacing/2!important;
}
.push-half--bottom {
	margin-bottom: $base-spacing/2!important;
}
.push-half--left {
	margin-left: $base-spacing/2!important;
}

.push-double {
	margin: $base-spacing*2!important;
}
.push-double--top {
	margin-top: $base-spacing*2!important;
}
.push-double--right {
	margin-right: $base-spacing*2!important;
}
.push-double--bottom {
	margin-bottom: $base-spacing*2!important;
}
.push-double--left {
	margin-left: $base-spacing*2!important;
}
