/**
 * A few styles only needed for the Style Guide
 * (and the framework demo)
 * Prefix everything with sg__
 */

// ----------- the logo & title

.sg__logo {
  margin: 0 auto;
  width: 90%;
  max-width: 600px;
}

.sg__title {
  margin: 3rem auto 0 auto;
}

// ----------- only show the code samples on bigger screens

.pre-holder {
  display: none;

  @media only screen and (min-width: 768px) {
    display: block;
  }

}


// ----------- footer styles

.footer p {
  color: #999fac;
}

.footer p a {
  color: white;

  &:visted {
    color: white;
  }

  &:hover,
  &:active,
  &:focus {
    color: #999fac;
  }

}

.footer .button {

  &:hover,
  &:active,
  &:focus {
    color: white;
  }

}
