/*------------------------------------*\
	Global
\*------------------------------------*/

$debug:                 false;

$spacing:               1em;
$spacing-large:         $spacing*2;
$spacing-small:         $spacing/2;

$border-radius:         8px;
$border-radius-large:   32px;
